html, body {
  min-width: 520px;

  background-color: #333333;
}

.bg-black {
  background-color: #222222;
}

.bg-dark-grey {
  background-color: #333333;
}

.border-black {
  border-color: #222222 !important;
}

.btn:focus, .page-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  outline: none !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 20px;
  height: 20px;

  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;

  border: 3px solid #dddddd;
  border-top: 3px solid #000000;
  border-radius: 50%;
}

.loader-lg {
  width: 50px;
  height: 50px;

  border: 8px solid #dddddd;
  border-top: 8px solid #000000;
  border-radius: 50%;
}

.loader-fbsdk {
  left: 50%;

  margin-left: -10px;
}

.navbar-gradient {
  height: 20px;

  background: linear-gradient(#111111, #333333);
  background-color: #222222;
}

.overflow-auto {
  overflow: auto;
}

.popup-form {
  z-index: 1000000;
}

.popup-form-seperator {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 0.1em;

  width: 100%;

  text-align: center;

  color: #aaaaaa;
  border-bottom: 1px solid #cccccc;
}

.scrollable-dropdown {
  overflow-y: scroll;

  max-height: 255px;
}

.text-link {
  text-decoration: none !important;
}

.text-violet {
  color: #707fc2;
}

.text-violet:hover {
  color: #43549d;
}