.checklist-active-page {
  color: #000000 !important;
  background-color: #ffbb33 !important;
}

.checklist-active-page:hover {
  background-color: #ffaa11 !important;
}

.checklist-page-item {
  width: 35px;
}

.checklist-page-link:hover {
  background-color: #000000;
}

.checklist-undo-btn:hover, .checklist-undo-btn:active {
  color: inherit !important;
  background-color: inherit !important;
}

.movie-poster {
  width: 175px;
}

.movie-poster-transparent {
  opacity: 0.2;
}

.movie-summary {
  font-size: 0.9rem;

  overflow-x: hidden;
  overflow-y: scroll;

  height: 145px;
}

.movie-title {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .checklist-page-item {
    width: 50px;
  }

  .checklist-page-link {
    font-size: 1.2rem !important;

    height: 40px;
  }

  .movie-summary {
    font-size: 1.0rem;
  }

  .movie-poster {
    width: 200px;
  }

  .movie-title {
    font-size: 1.6rem;
  }
}


@media (min-width: 992px) {
  .checklist-btn {
    height: 40px;
  }

  .movie-info {
    font-size: 1.2rem;
  }

  .movie-title {
    font-size: 2.0rem;
  }
}
