.checklist-active-page {
  color: #000000 !important;
  background-color: #ffbb33 !important;
}

.checklist-active-page:hover {
  background-color: #ffaa11 !important;
}

.checklist-container-transparent {
  opacity: 0.1;
}

.checklist-page-item {
  width: 35px;
}

.checklist-page-link:hover {
  background-color: #000000;
}

.checklist-undo-btn:hover, .checklist-undo-btn:active {
  color: inherit !important;
  background-color: inherit !important;
}

.movie-poster {
  width: 175px;
}

.movie-poster-transparent {
  opacity: 0.2;
}

.movie-summary {
  font-size: 0.9rem;

  overflow-x: hidden;
  overflow-y: scroll;

  height: 145px;
}

.movie-title {
  font-size: 1.2rem;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .checklist-page-item {
    width: 50px;
  }

  .checklist-page-link {
    font-size: 1.2rem !important;

    height: 40px;
  }

  .movie-summary {
    font-size: 1.0rem;
  }

  .movie-poster {
    width: 200px;
  }

  .movie-title {
    font-size: 1.6rem;
  }
}


@media (min-width: 992px) {
  .checklist-btn {
    height: 40px;
  }

  .movie-info {
    font-size: 1.2rem;
  }

  .movie-title {
    font-size: 2.0rem;
  }
}

@media (max-height: 850px) {
  .checklist-container-transparent {
    overflow: hidden;

    max-height: 710px !important;
  }

  @media (min-width: 576px) {
    .checklist-container-transparent {
      max-height: 720px !important;
    }
  }

  @media (min-width: 768px) {
    .checklist-container-transparent {
      max-height: 785px !important;
    }
  }


  @media (min-width: 992px) {
    .checklist-container-transparent {
      max-height: 800px !important;
    }
  }

  @media (min-width: 1200px) {
    .checklist-container-transparent {
      max-height: 785px !important;
    }
  }
}